body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
  color: #ddd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ChooseMode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.Button,
.Card {
  border: 2px solid #8e24aa;
  box-shadow: 2px 2px 5px #5c007a;
  border-radius: 5px;
  padding: 20px;
  background: #222;
  color: #c158dc;
}
.Button:hover,
.Card:hover {
  box-shadow: 10px 10px 20px #5c007a, -10px -10px 20px #5c007a;
}

.Button:focus {
  outline: none;
}
/*
.Card {
  border: 1px solid #444;
  border-radius: 5px;
  padding: 30px;
  background: #333;
}*/

.ChooseMode .Card {
  text-align: center;
}

.text-disabled {
  color: #555;
}

.PlayerStats {
  width: 50%;
  text-align: center;
}
.PlayerStats p {
  margin: 5px 0 0 0;
}
.PlayerStats .ProgressBar {
  margin-bottom: 0;
}
